<div class="row">
  <div class="col-2-3">
    <div id="pic1">
    </div>
    <div id="pic2">
    </div>
  </div>
  <div class="col-1-3">
    <div class="center-block">
      <div class="ratings bg-white">
      </div>
      <div class="ratings bg-white">
      </div>
      <div class="ratings bg-white">
      </div>
      <div class="ratings bg-white">
      </div>
      <div class="ratings bg-white">
      </div>
    </div>

    <div class="center-block2">
      <h2 class="text-center">"The app where you have the ability to choose </h2>
      <h2 class="text-center">whether your personal diary <span>is or isn't anybody else's business!"</span></h2>
      <h4 class="text-right">-Michele, Professional Journalist</h4>
    </div>

  </div>
</div>
 

