<h1>Create New Diary Chapter</h1>
<div class="container">
  <form [formGroup]="CreateEntryForm"> 
    <div class="form-group">
      <label for="chapter">Chapter Title</label>
      <input type="text" class="form-control" id="chapter" style="max-width: 50%;" required
        placeholder="The day that...">
    </div>

    <label id="dateTime"><strong>Time of Entry: </strong>
     <input class="form-group" type="text" readonly value="{{today | date:'medium'}}">
     
    </label>
    <div class="form-group">
      <label for="body">Dear Diary,</label>

      <div class="container">
      <!-- Text Area HTML -->
      <textarea 
        class="form-control" 
        id="body" 
        rows="6"
        placeholder="Today was..."
        (change)="wordCounter($event.target.value)"
        formControlName="entryBody"
        ></textarea>
      <!-- Text Area HTML -->

      <!-- Word Count HTML -->
      <div>
      <label id="wordCount">Word Count: {{ wordCount }}</label>
      </div>
      <!-- / Word Count HTML -->
        </div>



    </div>

    <button type="submit" class="btn btn-success">Done</button>

  </form>
</div>

