<div>
  <h1>Create a New Journal Entry</h1>

  <form class="border border-dark border bg-light">
    <table class="table table-inverse">
      <tr>
        <td><label>Add into:</label></td>

        <td>

          <div class="input-group mb-3">
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">1st date</a>
                <a class="dropdown-item" href="#">2nd Date</a>
                <a class="dropdown-item" href="#">3rd Date</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">My Cute Date</a>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td><label>Date:</label></td>
      </tr>
      <tr>
        <td><label>Title:</label></td>

        <td>
          <input />

        </td>
      </tr>
      <tr>
        <td><label>Journal Entry:</label></td>
        <td><textarea class="scrollbar-primary"></textarea></td>
      </tr>
    </table>
    <button class="Button-5">Submit</button>
  </form>
</div>
