<div>
  <h1>Welcome to your SecureDiary!</h1>

  <table>
    <tr>
      <th>Here are your journal entries for the month of February.</th>
      </tr>
    <tr>
      <td><h3>Title: On February 14th, OMG!!!</h3></td>
      </tr>
    <tr>
      <td>This happened and then this happened and yes this happened too! What an amazing date!!!</td>




    </tr>
  </table>
  <!---<table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.StudentName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Age)
      </th>
      <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.UserName)
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id=item.heading }) |
        @Html.ActionLink("Details", "Details", new { id=item.journalentry  }) |
      </td>
    </tr>
    }

  </table>-->
</div>
